// height media

* {
  font-family: "Monda";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.my-container {
  max-width: 1350px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.standart-title {
  font-family: Rubik;
  font-weight: 500;
  font-size: 56px;
  line-height: 150%;
  letter-spacing: 0.08em;
  color: #373737;
}

// .standart-button-link {
// }

.inherit-block {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
}
